{% extends "theme/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/theme/narrow.css">
  <link rel="stylesheet" href="style/index.css">

  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/baconjs/dist/Bacon.js"></script>
  <script src="node_modules/bangjs/dist/bang.js"></script>
{% endblock %}

{% block heading %}showcase{% endblock %}

{% block body %}
  <div ng-app="linkSnippetComposer" ng-cloak>
    <h2>Link Snippet Composer</h2>
    {% block app %}
    {% endblock %}
  </div>
{% endblock %}